<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/joinProc" method="post">
    <fieldset>
        <legend>회원가입</legend>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email"/> <br/>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password"/> <br/>
            <button>회원가입</button>
    </fieldset>


</form>
</body>
</html>